<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">       

	<import resource="classpath:beans.xml"/>
	
 <bean id="logInBound" class="org.apache.cxf.interceptor.LoggingInInterceptor" />
 <bean id="logOutBound" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />

	<jaxws:endpoint id="echo" address="/Echo" implementor="#echoService">
		<jaxws:inInterceptors> 
			<ref bean="logInBound" />
			<ref bean="inbound-security"></ref>
		</jaxws:inInterceptors>
	
		<jaxws:outInterceptors>
			<ref bean="logOutBound" />
			<ref bean="outbound-security"></ref>
		</jaxws:outInterceptors>
		
		<jaxws:properties>
			<entry key="ws-security.is-bsp-compliant" value="false" />
		</jaxws:properties>		
		
	</jaxws:endpoint>

	 <!-- WSS4JOutInterceptor for incorporating a UsernameToken in a SOAP --> 
	<!-- <bean id="inbound-security" class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
		<constructor-arg>
			<map>
				<entry key="action" value="UsernameToken"></entry> -->
				<!--  <entry key="user" value="dummy"></entry> -->
	<!-- 		<entry key="passwordCallbackClass" value="com.guru.test.webservices.ServerPasswordCallback"></entry>
			</map>
		</constructor-arg>
	</bean> -->
	
 <!--  WSS4JInInterceptor for decrypting and validating the signature of inbound SOAP -->
    <bean id="inbound-security" class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
        <constructor-arg>
            <map>
                <entry key="action" value="Timestamp Signature"/>
                <entry key="signaturePropFile" value="crypto.properties"/>
    
    			<!-- 
    			<entry key="action" value="Timestamp Signature Encrypt"/>
                <entry key="decryptionPropFile" value="crypto.properties"/>
                <entry key="passwordCallbackClass" value="com.guru.test.webservices.ServerPasswordCallback"/>
                 -->
            </map>
        </constructor-arg>
    </bean>
    
    <!-- WSS4JOutInterceptor for signing and encrypting outbound SOAP -->     
    <bean id="outbound-security" class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
        <constructor-arg>
            <map>
                
                <entry key="action" value="Timestamp Signature"/>  
                <entry key="user" value="server"/>              

				<entry key="signatureUser" value="server"/>
                <entry key="signaturePropFile" value="crypto.properties"/>
                <entry key="signatureParts" value="{Element}{http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd}Timestamp;{Element}{http://schemas.xmlsoap.org/soap/envelope/}Body"/>

                <!-- 
                <entry key="action" value="Timestamp Signature Encrypt"/>
                <entry key="encryptionPropFile" value="crypto.properties"/>
                <entry key="encryptionUser" value="useReqSigCert"/>
                <entry key="encryptionParts" value="{Content}{http://schemas.xmlsoap.org/soap/envelope/}Body"/>
                <entry key="encryptionSymAlgorithm" value="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"/>

                 -->
                <entry key="passwordCallbackClass" value="com.guru.test.webservices.ServerPasswordCallback"/>
            </map>
        </constructor-arg>
    </bean>   


</beans>