<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">     

	
	 <bean id="logInBound" class="org.apache.cxf.interceptor.LoggingInInterceptor" />
	 <bean id="logOutBound" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />


	<jaxws:client id="echoClient" serviceClass="com.guru.test.webservices.EchoService" 
		address="http://localhost:8080/z_WS-ServiceProvider/Echo?wsdl">
	
		<jaxws:inInterceptors> 
			<ref bean="logInBound" />
			<ref bean="inbound-security"></ref>			
		</jaxws:inInterceptors>
		
		<jaxws:outInterceptors>
			<ref bean="logOutBound" />
			<ref bean="outbound-security"></ref>
		</jaxws:outInterceptors>
	
		
	</jaxws:client>
	
	
	<!-- WSS4JOutInterceptor for incorporating a UsernameToken in a SOAP --> 
    <!-- <bean class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor" id="outbound-security">
        <constructor-arg>
            <map>
                <entry key="action" value="UsernameToken"/>  
                <entry key="user" value="dummy"/> -->  
                <!-- entry key="passwordType" value="PasswordText"/ -->                
	<!--        <entry key="passwordCallbackClass" value="com.guru.test.webservices.ClientPasswordCallback"/>               
            </map>
        </constructor-arg>
    </bean> --> 


	<bean class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor" id="outbound-security">
		<constructor-arg>
			<map>
				<entry key="action" value="Timestamp Signature"></entry>
				<entry key="user" value="client"/>
				
				
				<!--
				<entry key="action" value="Timestamp Signature Encrypt"></entry>  
                <entry key="encryptionParts" value="{Element}{http://www.w3.org/2000/09/xmldsig#}Signature;{Content}{http://schemas.xmlsoap.org/soap/envelope/}Body"/>
				<entry key="encryptionPropFile" value="crypto.properties"></entry>
                <entry key="encryptionSymAlgorithm" value="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"/>
                <entry key="encryptionUser" value="server"/>
				-->

				<entry key="signatureParts" value="{Element}{http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd}Timestamp;{Element}{http://schemas.xmlsoap.org/soap/envelope/}Body"/>
				<entry key="signaturePropFile" value="crypto.properties"/>
				<entry key="signatureUser" value="client"/>
				<!--
				<entry key="signatureParts" value="{Element}{http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd}Timestamp;{Element}{http://schemas.xmlsoap.org/soap/envelope/}Body"/>				 
				<entry key="signatureKeyIdentifier" value="DirectReference"></entry> 
				-->
				<entry key="signatureKeyIdentifier" value="X509KeyIdentifier"></entry>
				
				<entry key="passwordCallbackClass" value="com.guru.test.webservices.ClientPasswordCallback"/>
                
			</map>
		</constructor-arg>
	</bean>
	
	
    <!--  WSS4JInInterceptor for decrypting and validating the signature of inbound SOAP -->
    <bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor" id="inbound-security">
        <constructor-arg>
            <map>
                <entry key="action" value="Timestamp Signature"/>
                <entry key="signaturePropFile" value="crypto.properties"/>
                <!-- 
                <entry key="action" value="Timestamp Signature Encrypt"/>
                <entry key="decryptionPropFile" value="crypto.properties"/>
                 -->
                <entry key="passwordCallbackClass" value="com.guru.test.webservices.ClientPasswordCallback"/>
            </map>
        </constructor-arg>
    </bean>	




	
</beans>	


