<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:jms="http://www.springframework.org/schema/jms"
 xmlns:amq="http://activemq.apache.org/schema/core"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://activemq.apache.org/schema/core
   http://activemq.apache.org/schema/core/activemq-core-5.5.0.xsd
   http://www.springframework.org/schema/jms
   http://www.springframework.org/schema/jms/spring-jms-3.0.xsd
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<context:annotation-config></context:annotation-config>

	<bean id="connectionFactory"
	      class="org.apache.activemq.spring.ActiveMQConnectionFactory">
	  <property name="brokerURL" value="tcp://localhost:61616"/>
	</bean>


    <bean id="queue" class="org.apache.activemq.command.ActiveMQQueue">
          <constructor-arg value="GURU.LOCAL"/>
	</bean>
	
	<bean id="jmsTemplate"
      class="org.springframework.jms.core.JmsTemplate">
	  <property name="connectionFactory" ref="connectionFactory" />
	  <property name="defaultDestinationName" value="TEST.LOCAL"></property>
	</bean>
	
<!-- 	<amq:queue id="destination" physicalName="GURU.LOCAL" ></amq:queue> -->

</beans>